<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/style.css">
    <title>Mario commitkart</title>
</head>
<body>
    <header>
        <h1>Mario commitkart</h1>
    </header>
    <main>
        <div id="baan">
            <ul>
                <% data.sort((a, b) => (a.node.defaultBranchRef.target.history.totalCount < b.node.defaultBranchRef.target.history.totalCount) ? 1 : -1)  %>
                <% data.forEach((element, i) => { %> 
                <li>
                    <img src="<%= element.node.owner.avatarUrl %>" alt="">  
                </li>
                <%})%>
            </ul>
        </div>
        <ul>
            <h3>Ranking</h3>
            <% data.sort((a, b) => (a.node.defaultBranchRef.target.history.totalCount < b.node.defaultBranchRef.target.history.totalCount) ? 1 : -1)  %>
            <% data.forEach((element, i) => { %>
            <li>
                <div>
                    <h2><%= i +1 %></h2>
                </div>
                <div>
                    <img src="<%= element.node.owner.avatarUrl %>" alt="">
                    <div>
                        <p><a href="<%= element.node.owner.url %>"><%= element.node.owner.login %></a></p>
                        <p><span><%= element.node.defaultBranchRef.target.history.totalCount %></span> commits</p>
                    </div>
                </div>
            </li>
            <%})%>
        </ul>

        <div>
            
        </div>
    </main>
    <footer>

    </footer>
</body>
</html>